/* Add CSS styling here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset above */

*{
    border: 1px solid red;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html{
    font-size:62.5%;
    color: #4f4f4f;
}

body{
    width:100%;
    font-size:1.6rem;
}
h1{
    font-size:6rem;
    padding:1%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

h2{
    font-size:4.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

a{
    background-color: rgb(24, 121, 121);
    width:30%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size:2.2rem;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: 'Kiwi Maru', serif;
}

header{
    background-image: linear-gradient(rgb(195, 238, 195),#ffffff);
}
nav div{
    width: 100%;
    display:flex;
    padding-bottom: .25%;
}

nav a{
    margin-left:2px;
}

nav a:first-child{
    margin-left:0px;;
}

a:hover{
    filter:opacity(80%);
}

.upperBody{
    display:flex;
    margin-bottom: 2%;
    /* margin-top: .5%; */
    justify-content:space-between;
}

 /* .upperBody div{
    width:40%;
}  */
/* 
 */
 .upperBodyLeft img{
     margin-left:1%;
    width:100%;
}

.upperBodyLeft img:hover{
    /* filter:hue-rotate(75deg); */
}

.upperBodyLeft {
    width:55%;
    }

.upperBodyRight{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(rgb(169, 226, 169),#ffffff); */
    padding: 2% 0;
    background-color:red;
    background-image: url('chevron.png');
    /* width: 40%; */
}
.upperBodyRight h2{
    padding-bottom: 2%;
}
.upperBodyRight p{
    width: 40%;
    padding-top: 2%;
}
p{
    font-size:2.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1%;
}

.gallery div{
    display:flex;
    flex-direction: column;
    width: 22%
}

.midBody img{
    width:100%; 
    margin-top: 1%;

}
.midBody p{
    width: 100%;

    margin: 3% 0;
    text-align:center;
}

.midBody img:hover{
    box-shadow: 3px 6px #4f4f4f;
    filter:brightness(90%);

}

footer{
    background-image: linear-gradient(#ffffff,rgb(195, 238, 195));
}

footer div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer *{
    margin-bottom: 1%;
    text-transform: uppercase;
}

footer img{
    width:10%;
}

footer a:last-child{
    background-color: transparent;
}

@media (max-width:800px){
    .upperBodyLeft {
        /* width:50%; */
        /* background-image: url('chevron.png'); */
        display:none;
        }

    .upperBodyRight{
        width:100%;
    }
    .upperBody{
        margin-bottom: 3%;
        padding-bottom: 2%;
        border-bottom: 1px dashed #4f4f4f
    }
    .linkedin{
        width:25%;
    }
}

@media (max-width:500px){
    header h1{
        text-align:center;
    }
    header nav div{
        display:flex;
        flex-flow: column;
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    header nav div a{
        margin: .5% 0;
        width: 35%;
    }
    .upperBodyLeft {
        /* width:50%; */
        /* background-image: url('chevron.png'); */
        display:block;
        width:80%;
        margin: 0 auto;
        
        }
    .upperBody{
        display:flex;
        flex-direction: column;
        margin-bottom: 2%;
        /* margin-top: .5%; */
        justify-content:space-between;
    }
    .upperBodyRight p{
        width: 75%;
        padding-top: 2%;
        text-align: center;
    }
    .gallery div{
        display:flex;
        flex-direction: column;
        width: 45%;
        justify-content: space-around;
        margin: 4% 2%;
    }
    .linkedin, .linkedinlink{
        display:none;
    }
}